---
import MainLayout from '../layouts/MainLayout.astro';
const name = 'Gustavo Adolfo Pezzini Puen';
---

<MainLayout title="Inicio">
  <h1>{name}</h1>

  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="hora-actual">Momento actual real:</p>

  <script>
    const horaActual = document.querySelector('#hora-actual') as HTMLParagraphElement;

    horaActual.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
  </script>
</MainLayout>
