---
import TituloCustom from '../components/TituloCustom.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Sobre mí">
  <h1>Sobre mí</h1>

  <TituloCustom title="Este es el título custom." />
</MainLayout>

<style>
  h1 {
    color: red;
  }
</style>
